# TODO
docs/todo/

# Coverage
frontend/coverage/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env
.coverage
htmlcov/

# Go
/workers/scraper/main
/workers/writer/main
*.test
/workers/scraper/go.sum
/workers/writer/go.sum

# IDE
.idea/

# OS
.DS_Store
