# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env
.coverage
htmlcov/

# Go
/workers/scraper/main
/workers/writer/main
*.test
/workers/scraper/go.sum
/workers/writer/go.sum

# Docker
.dockerignore

# OS
.DS_Store
